* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

h1 {
    font-size: 15px;
    margin:0;
}

.header {
    text-align: center;
    padding-bottom: 26px;
}

.header-heading {
    background-color: black;
    color: white;
    padding-top: 26px;
    padding-bottom: 26px;
    text-transform: uppercase;
}

.separator-thick {
    border-top: 3px solid black;
    width: 95%;
    margin: 0 auto 0 auto;
}

.separator-thin {
    border-top: 1px solid black;
    width: 95%;
    margin: 1px auto 0 auto;
}

.form-section {
    border: 0;
    padding-bottom: 26px;
}

.form-input_label {
    display: block;
    width: 100%;
    color: #999999;
    margin: 2px 0 2px 0;
}

.form-input_input {
    display: block;
    width: 100%;
    background-color: #eeeeee;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin: 2px 0 2px 0;
}

select.form-input_input:invalid {
    color: #999999;
}

.form-input_input--withTag {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-input_input--half {
    width: 50%;
}

.form-input_requiredTag {
    color: #999999;
    background-color: #eeeeee;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 2px; 
    margin-bottom: 2px; 
    padding: 10px;
    text-align: right;
    font-style: italic;
}

.form-input_requiredFrame {
    display: grid;
    grid-template-columns: 1fr 100px;
}

/* a group of checkboxes or radio buttons */

.form-selection-group {
    overflow:auto;
}

.form-selection-group_label {
    display: block;
    color: #999999;
    margin-bottom: 10px;
}

/* a checkbox control */

.form-checkbox {
    overflow:auto;
}

.form-checkbox_input {
}

.form-checkbox_label {
    color : #999999;
}

/* extra-spacings */
.default-spacing {
    margin-top: 20px;
}


/* a radio control */

.form-radio {
    overflow: auto;
}

.form-radio_input {

}

.form-radio_label {
    color : #999999;
}

/* a textarea control */
.form-textarea {

}

.form-textarea_input {
    display: block;
    width: 100%;
    background-color: #eeeeee;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin: 2px 0 2px 0;
    resize: none;
}